{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h3>Confirm Delete</h3>
            <p>Are you sure you want to delete purchase request #{{ purchase.request_number }}?</p>
            
            <form method="post">
                {% csrf_token %}
                <div class="d-flex justify-content-end">
                    <a href="{% url 'maintenance:purchase_list' %}" class="btn btn-secondary me-2">Cancel</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
